@import "@/assets/styles/variables.scss";

.home {
  @extend %flex-center;
  height: 100vh;

  .sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .wrapp {
      display: flex;
      width: 100%;
      height: calc(100% - 112px);
      border-bottom: 2px solid transparent;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        // background: linear-gradient(to right, $blue, orange);
        background: linear-gradient(
          90deg,
          $blue 7.69%,
          #00beff 33.37%,
          rgba(0, 190, 255, 0) 100%
        );
        bottom: 0;
      }
    }

    .footer {
      height: 112px;
      background: $white;
      width: 100%;
      padding: 31px 30px 0 30px;
      box-sizing: border-box;
    }
  }
}
